   # Игнорировать директорию venv
   venv/

   # Игнорировать файлы с расширением .pyc
   *.pyc

   # Игнорировать директорию __pycache__
   __pycache__/

   # Игнорировать файлы IDE (например, для PyCharm)
   .idea/

    # Игнорировать файлы JSON
   *.json
